@import ./variables

body
  background: $light-grey
  font-size: $font-size
  font-family: $poppins
  font-weight: $thin-font
  text-align: center
  padding: 4em 1em

.heading
  font-weight: $thick-font
  font-size: 2em

.card 
  padding: 2em
  border-top: $red

.card-heading
  text-align: left
  font-size: 1.1em
.card-icon
  display:block
  text-align: right

#heading1
  font-weight: $thin-font