@import ./variables
  
* 
  margin: 1rem
body
  font-size: $font-size
  font-family: $poppins
  font-weight: $normal-font
  color: $blue-grey
  text-align: center
  padding: 4em 1em
header
  width: 35em
  margin: auto
main
  display: flex
  margin: 4em 0 0 0
  justify-content: center

.heading
  font-weight: $thick-font
  font-size: 2.4em
  color: $blue-dark
  margin-bottom: 0.5em
  font-s

.col
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  flex-basis: 33%
  justify-content: center

.caption
  line-height: 1.5em

.card 
  padding: 2em
  text-align: left
  margin: 1em
  box-shadow: 0px 10px 20px $blue-grey
  border-radius: 5px
  max-width: 20em
#team-builder
  border-top: 5px solid $red
#calculator
  border-top: 5px solid $blue
#supervisor
  border-top: 5px solid $cyan
#karma
  border-top: 5px solid $orange
.card-heading
  font-size: 1.5em
.card-icon
  width: inherit
  margin: 0 0 0 auto
  display: block
  margin: 2em 1em 0 auto

#heading1
  font-weight: $thin-font
#heading2
  font-size: 2.35em

.attribution
  position: relative
  top: 3em
  font-size: 11px
  text-align: center
  font-weight: $thick-font
.attribution a
  color: $orange

@media screen and ( max-width: $desktop)
  main
    display: block
  header
    width: 100%
    font-size: 0.7em
  p.caption:nth-child(3)
    font-size: 1.4em
    margin: 0.9em 1em
